<div class="p-5">
  <div class="d-flex justify-content-center">
    <h2>Create Todo</h2>
  </div>
  <div class="d-flex justify-content-center">
    <form>
      <div class="form-group">
        <label for="todo-name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="todo-name"
          placeholder="Enter name..."
        />
      </div>

      <div class="form-group">
        <label for="todo-description">Description:</label>
        <textarea
          id="todo-description"
          class="form-control"
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="todo-owner">Owner:</label>
        <select class="form-control" id="todo-owner">
          <option></option>
          <option>User #1</option>
          <option>User #2</option>
          <option>User #3</option>
        </select>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">
          Create New Todo
        </button>

        <button
          class="btn btn-secondary float-right"
          type="button"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
